<!DOCTYPE html>
<html>
  <head>
    <title>Crear comentari</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <div class="jumbotron">
                  <h1>Crear un nou comentari</h1>
                  <form action="/comentaris/" method="POST">
                    Id de la alerta:<br>
                    <input type="text" name="alertId">
                    <br>
                    Comentari:<br>
                    <input type="text" name="comment">
                    <br>
                    <br>
                    <input type="submit" value="Enviar comentari">
                  </form>
    </div>

  </body>
</html>
