<!DOCTYPE html>
<html>
  <head>
    <title>Editar comentari</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <div class="jumbotron">
                  <h1>Edita el comentari</h1>
                  <form action="/comentaris/<%= post.id %>" method="POST">
                    <input type="text" name="id" value=<%= post.id %>>
                    <br>
                    Id de la alerta:<br>
                    <input type="text" name="alertId">
                    <br>
                    Comentari:<br>
                    <input type="text" name="coment">
                    <br>
                    <br>
                    <input type="submit" value="Enviar post">
                  </form>
    </div>

  </body>
</html>
