<!DOCTYPE html>
<html>
  <head>
    <title><%= title.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="jumbotron">
    <h1><%= title.title %></h1>
    <p><%= title.description %></p>
  </div>
  </body>

</html>
