<!DOCTYPE html>
<html>
  <head>
    <title><%= title.id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="jumbotron">
    <h1><%= title.alertId %></h1>
    <p><%= title.comment %></p>
  </div>
  </body>

</html>
