<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <div class="jumbotron">
                  <h1>Login</h1>
                  <form action="/posts" method="POST">
                    Usuari:<br>
                    <input type="text" name="user">
                    <br>
                    COntrasenya:<br>
                    <input type="text" name="pass">
                    <br>
                    <br>
                    <input type="submit" value="Login">
                  </form>
    </div>

  </body>
</html>
