<!DOCTYPE html>
<html>
  <head>
    <title>Registrar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <div class="jumbotron">
                  <h1>Registra un usuari nou</h1>
                  <form action="/signin" method="POST">
                    Usuari:<br>
                    <input type="text" name="username">
                    <br>
                    Contrasenya:<br>
                    <input type="text" name="password">
                    <br>
                    <br>
                    <input type="submit" value="Register">
                  </form>
    </div>

  </body>
</html>

